<div id="root"></div>

<!-- stores current user's id to frontend -->
<% if signed_in? %>
  <script type="text/javascript">
    window.currentUserId = <%= current_user.id %>;
  </script>
<% else %>
  <script type="text/javascript">
    window.currentUserId = "";
  </script>
<% end %>